<!--The content below is only a placeholder and can be replaced.-->
<div id="mainForm">
  <h1>
    To-Do List
  </h1>
  <h4>
    A place to store the things you have to do!
  </h4>
  <input id="filter" class="fillableField" placeholder="Filter your list"/>
  <ol id="toDoListDisplay">
    <li *ngFor="let ToDoItem of toDoList">
      <span [ngClass]="{strike: ToDoItem.Complete }"> {{ ToDoItem.ToDo }} </span>
      <button (click)="completeTask(toDoList, toDoList.indexOf(ToDoItem))" *ngIf="!ToDoItem.Complete" class="complete" > Complete </button>
      <button class="delete" (click)="removeTask(toDoList, toDoList.indexOf(ToDoItem))">X</button>
    </li>
  </ol>
  <input id="newToDoItem" type="text" class="fillableField" placeholder="Add your to-do" [(ngModel)]="taskInput" />
  <button id="add" type='button' (click)="addTask(toDoList)" class="fillableField">Add</button>
</div>


